@import '~antd/dist/antd.less';

.editor-container {
  display: flex;
  height: 100%;
}
.ant-tabs-nav-scroll {
  border-bottom: none;
}
.locked {
  color: @error-color;
}
.unlocked {
  color: @primary-color;
}


.play-icon {
  background: @primary-color;
  color: @body-background;
}

.metadata-container {
  background: @body-background;
}

.meatada-panel {
  background: @body-background;
}

.import-proto-title-box {
  color: @primary-color;
}

.import-proto-icon {
  color: @icon-color;
}

.hide {
  display: none;
}

.server-url {
  font-weight: 600;
}


.response-edit {

.ace_gutter > .ace_layer {
  margin-left: -15px;
}
}

.find-match {
  border-radius: 0;
  position: absolute;
  top: -10px;
  z-index: 30;
  width: 39%;
  right: 0px;
}

// .ant-drawer-header {
//   background: #001529;
//   border-radius: 0px;

// .ant-drawer-title {
//   color: #fff;
//   font-weight: 700;
// }

.ant-tabs-nav-scroll {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.ant-tabs-nav-wrap {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 4px;
  padding-left: 17px;
  user-select: none;
}

.ant-tabs-bar {
  margin: 0 0 8px 0;
}

.ant-tabs-ink-bar {
  height: 0;
}


.ant-modal-header {
  background: #001529;
  border-bottom: none;
  .ant-modal-title {
    color: #fff;
  }
}

.ant-modal-content {
.ant-modal-close-x {
  color: #fff;
}
}

.draggable-tab {
  position: relative;
  padding-bottom: 1px;
  color: #1890ff;
  background: #fff;
  font-size: 14px;

  border-color: #e8e8e8;

  height: 40px !important;

  padding: 0px 16px;
  line-height: 38px;
  border-radius: 4px 4px 0 0;

  border: 1px solid rgba(0, 21, 41, 0.18);
  border-bottom: 0;

  .ant-tabs-close-x {
    width: 16px;
    height: 16px;
    height: 14px;
    margin-right: -5px;
    margin-left: 3px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    vertical-align: middle;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.draggable-tab.active {
  font-weight: 500;
}

.inline-item {
    display: inline-block;
}

.env-modal {
  .ant-modal-confirm-content {
    margin-top: 20px;
    margin-left: 0px !important;
  }
}
